.container {
	background-color: #040030 ;
	color: white;
	height: fit-content;
	width: 100%;
	float: left;
}


}
.row {
	background: beige;
	width: 100%;
	float: left;
	height: 100%;
	color: white;
}
.card{
	float: left;
	color: white;
	background: #222e40;
}
.row-right-bot-right{
	float: left;
	
}
.row-right-bot-left{
	float: right;
}
.card-3{
	float: right;
}
.col-4 {
	float: right;
	width: 100px;
	background: #040030;
	height: 100%;
}
.col-8{
	float: left;
	width: 80%;
	height: 50%;
}
.row-right-top {
	float: left;
	width: 100%;
	height: 340px;
	background-color: #002f4d;
}
.row-right-bot {
	float: left;
	width: 100%;
	height: 330px;
	background-color: #005b5e;
}






.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}